.screenLock{position:fixed;width:100%;background:rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;top:0px;left:0px;z-index:99999;display:none;}
.msg{position:absolute;width:600px;height:230px;top:150px;left:50%;margin-left:-300px;background:#ffffff;}
.msg > h1{color:#333333;text-align:center;font-size:23px;margin-bottom:30px;margin-top:38px; line-height:1.2;}
.close{position:absolute;top:1px;right:5px;font-size:40px;cursor:pointer;color:firebrick;}
.submit{margin-top:10px;height:65px;width:100%; max-width:400px;background-color:firebrick;color:rgb(255, 255, 255);font-size:28px;border-radius:3px;cursor:pointer;}
.submit:hover{background-color:firebrick!important;}

@media screen and (max-width: 590px) {
.msg{ width: 100%; top: 0px; left: 0px;  margin-left: 0px;}
 }
* { margin: 0px; padding: 0px; }
body { font-family: "Arial",sans-serif; font-size: 17px; background-color: rgb(255, 255, 255); }
h1 { margin: 10px 0px; font-size: 29px; font-weight: normal; color: rgb(0, 0, 0); }
p { text-align: justify; margin: 0px 0px 7px; line-height: 20px; }
img { max-width: 100%; }
main { margin: 0px 0px 0px 20px; width: 67%; float: left; padding: 10px 10px 0px; }
main img { display:block; margin: 10px auto; }
.comments img { margin: 0; }
a:hover { text-decoration: none; }
.container { max-width: 1150px; margin: 0px auto; background-color: rgb(255, 255, 255); }
.comment-head .like::after { content: ""; position: absolute; cursor: pointer; width: 16px; height: 16px; right: -20px; background-image: url('../img/likes.png'); background-repeat: no-repeat; background-position: -5px -5px; transition: all 0.5s ease 0s; }
.comment-head .like::after { content: ""; position: absolute; cursor: pointer; width: 16px; height: 16px; right: -20px; background-image: url('../img/likes.png'); background-repeat: no-repeat; background-position: -5px -5px; transition: all 0.5s ease 0s; }
.comment-head .like:hover::after { background-position: -5px -31px; }
.sidebar { float: right; width: 28%; padding-top: 20px; padding-right: 7px; text-align: center; }
footer { background-color: rgb(243, 244, 245); position: relative; bottom: -1px; clear: both; }
footer center { color: rgb(255, 255, 255); padding: 10px 0px; }
table { border-collapse: collapse; margin-bottom: 10px; font-family: "Helvetica Neue","Helvetica","Arial",sans-serif; }
td, th { padding: 10px 10px 10px 15px; }
th img { max-width: 100px; }
tr:nth-child(2n+1) > td { background-color: rgb(233, 233, 233); }
tr > td:nth-child(2), tr > th:nth-child(2) { border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); }
th { background: rgb(39, 174, 96) none repeat scroll 0% 0%; }
.first_menu { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding-bottom: 35px; margin-bottom: 10px; }
.first_menu ul { max-width: 1150px; padding-top: 15px; margin-left: 100px; float: left; padding-left: 10px; }
.first_menu li { color: rgb(159, 156, 156); font-size: 18px; display: inline-block; padding-right: 20px; cursor: pointer; }
.first_menu li:first-child { color: red; padding-bottom: 17px; border-bottom: 3px solid red; }
.icon_first { padding-right: 3px; width: 27px; height: 20px; float: left; background-image: url('../img/icons.png'); background-position: -29px 0px; background-repeat: no-repeat; margin-top: -8px; }
.icon:hover { background: rgb(255, 0, 0) none repeat scroll 0% 0%; }
.icon_second { padding-right: 3px; width: 161px; height: 20px; float: left; background-image: url('../img/icons2.png'); background-position: 0px 0px; background-repeat: no-repeat; margin-top: -8px; }
nav { color: rgb(255, 255, 255) ! important; padding-bottom: 65px; background: rgb(255, 0, 0) none repeat scroll 0% 0% ! important; }
nav ul { max-width: 1150px; padding-top: 20px; margin: 0px auto; float: left; padding-left: 10px; }
nav ul li { text-transform: uppercase; color: rgb(255, 255, 255) ! important; }
nav li { color: rgb(107, 10, 35); font-size: 18px; display: inline-block; padding-right: 20px; }
nav ul li:hover { cursor: pointer; }
.navicon { margin-left: 100px; width: 28px; }
.icon { padding-left: 24px; vertical-align: middle; width: 200px; }
header { line-height: 0; }
.img_post { background-color: rgb(255, 0, 0); height: 55px; }
.ic { float: left; width: 30px; padding: 15px; }
.menu { float: right; }
.icon_media { vertical-align: middle; width: 200px; padding-top: 15px; }
.img_post img:hover { cursor: pointer; }
.menu img { vertical-align: middle; }
.menu ul { padding: 9px; }
.menu li {  }
.img_left { float: left; padding: 0px 15px 15px 0px; width: 60%; box-sizing: border-box; }
.btn { display: block; text-align: center; padding: 14px 2px; box-shadow: 0px 0px 18px rgb(46, 54, 85); color: rgb(255, 255, 255); text-transform: uppercase; text-decoration: none ! important; font-weight: bold; font-size: 18px; background: rgb(38, 63, 167) none repeat scroll 0% 0%; border-radius: 15px; }
.btn:hover { opacity: 0.8; box-shadow: none; }
.btn:active { top: 1px; }
.btn2 { display: inline-block; text-align: center; padding: 14px 20px; color: rgb(255, 255, 255) ! important; text-transform: uppercase; text-decoration: none; font-weight: bold; font-size: 18px; box-shadow: 0px 0px 18px rgb(46, 54, 85); background: rgb(38, 63, 167) none repeat scroll 0% 0%; border-radius: 10px; }
.btn2:hover { opacity: 0.8; box-shadow: none; }
ul { margin-left: 20px; }
.btn2:active { top: 1px; }
.header_menu img, h1:hover { cursor: pointer; }
h1:hover { cursor: text !important; }
a { text-decoration: underline; color: rgb(0, 39, 255); }
.comments-list::before { content: ""; width: 2px; height: 99%; background: rgb(199, 202, 203) none repeat scroll 0% 0%; position: absolute; left: 45px; top: 16px; }
.comments-list::after { content: ""; position: absolute; background: rgb(199, 202, 203) none repeat scroll 0% 0%; bottom: 0px; left: 40px; width: 7px; height: 7px; border: 3px solid rgb(222, 225, 227); border-radius: 50%; }
.reply-list::before, .reply-list::after { display: none; }
.reply-list li::before { content: ""; width: 60px; height: 2px; background: rgb(199, 202, 203) none repeat scroll 0% 0%; position: absolute; top: 25px; left: -55px; }
.comments-list li::after { content: ""; display: block; clear: both; height: 0px; width: 0px; }
.comment-main-level::after { content: ""; width: 0px; height: 0px; display: block; clear: both; }
.comments-list .comment-box::before, .comments-list .comment-box::after { content: ""; height: 0px; width: 0px; position: absolute; display: block; border-width: 10px 12px 10px 0px; border-style: solid; border-color: transparent rgb(243, 243, 243); top: 8px; left: -11px; }
.comments-list .comment-box::before { border-width: 11px 13px 11px 0px; border-color: transparent rgba(0, 0, 0, 0.05); left: -12px; }
.comment-box .comment-name.by-author::after { content: "autorul"; background: rgb(3, 101, 140) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 12px; padding: 3px 5px; font-weight: 700; margin-left: 10px; border-radius: 3px; }
.clearfix::after { content: ""; display: table; clear: both; }
.pop-up-window::before { content: ""; position: absolute; width: 110px; height: 110px; top: -55px; left: 0px; right: 0px; margin: 0px auto; background-color: rgb(113, 195, 65); border-radius: 50%; animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before; }
.pop-up-window::after { content: ""; position: absolute; width: 50px; height: 20px; top: -20px; left: 0px; right: 0px; margin: 0px auto; border-width: medium medium 4px 4px; border-style: none none solid solid; border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; transform: rotate(-45deg); transition: opacity 1s ease 0s; animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after; }
#aside1 { height: 200px; padding: 6px; margin: 0px 5px; }

blockquote {
    background-color: #eaeaea;
    border-left: 2px solid #333;
    display: block;
    font-weight: bold;
    margin: 5px auto;
    padding: 2px 10px;
    text-align: center;
    width: 75%;
}


@media all and (min-width: 723px) {
	.img_post { display: none; box-sizing: border-box; }
}
@media all and (max-width: 1020px) {
}
@media all and (max-width: 950px) {
	.menu { display: none; }
	main { margin-left: 0px; width: 67%; }
}
@media all and (max-width: 723px) {
	header { display: none ! important; }
	.header_img, .sidebar, nav { display: none; }
	main { width: 100%; box-sizing: border-box; margin: 0px; padding: 5px 10px; }
	table { font-size: 14px; }
}
@media all and (max-width: 460px) {
	.reply-list li::before { left: -8px; }
	table { font-size: 12px; }
	h1 { font-size: 22px;  }
}
@media all and (max-width: 750px) {
	.navicon { margin-left: 0px; }
}
@media all and (max-width: 530px) {
}
.comments { padding-top: 10px; }
.comments-item { max-width: 90%; box-sizing: border-box; margin: 0px auto 15px; padding-bottom: 10px; border-bottom: 1px solid rgb(225, 226, 227); }
.comment-avatar { display: inline-block; vertical-align: top; margin-right: 10px; border: 1px solid rgb(204, 204, 204); font-size: 0px; }
.comment-text { display: inline-block; max-width: 70%; vertical-align: top; font-size: 16px; }
.comment-username { color: rgb(54, 88, 153); font-weight: bold; margin-right: 10px; cursor: pointer; }
.comment-username:hover { text-decoration: underline; }
.comment-action { padding-left: 50px; }
.like, .reply, .like-count { color: rgb(54, 88, 153); font-size: 13px; cursor: pointer; margin-right: 10px; position: relative; -moz-user-select: none; }
.like:hover, .reply:hover { text-decoration: underline; }
.like::after, .reply::after { content: " · "; position: absolute; font-weight: bold; right: -10px; top: 0px; color: rgb(144, 148, 156); }
.like-count { padding-left: 20px; position: relative; }
.like-count::before { content: ""; position: absolute; width: 18px; height: 18px; left: 0px; background-image: url('../img/like.png'); }
.comment-date { font-size: 13px; color: rgb(144, 148, 156); position: relative; }
.comment-date::before { content: " · "; position: absolute; font-weight: bold; left: -10px; top: 0px; color: rgb(144, 148, 156); }
.comment-input { width: 90%; margin: 0px auto 20px; }
.comment-input-area { display: inline-block; vertical-align: top; width: 80%; font-size: 0px; perspective: 800px; }
.textarea { width: 100%; max-width: 100%; box-sizing: border-box; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; height: 40px; font-family: "Arial",sans-serif; transition: all 0.5s ease 0s; }
.input-action { display: none; transition: all 0.4s ease 0s; background-color: rgb(246, 247, 249); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentcolor rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; transform-origin: center top 0px; padding: 10px; }
.send-btn { float: right; padding: 5px 10px; background-color: rgb(66, 103, 178); border: medium none; border-radius: 2px; color: rgb(255, 255, 255); font-weight: bold; cursor: pointer; }
.send-btn:hover { background-color: rgb(54, 88, 153); }
.clearfix::after { content: ""; display: table; clear: both; }
